<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <title>About</title>
</head>
<body class="d-flex flex-column">
<div layout:fragment="content" class="container flex-grow mt-5 pt-3">
    <!--<div th:replace="fragments/header :: header"/>-->
    <div>
        <div class="page-header">
            <h1>Welcome to the MRC Demo Site</h1>
            <p th:text="${indexcontroller}"></p>
            <h3 th:text="${message}"></h3>
        </div>
        <div class="container">
            <p>ABOUT</p>
        </div>
    </div>
    <!--<div th:replace="fragments/footer :: footer"/>-->
</div>
</body>
</html>