<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/main_layout}">
<head>
    <title>Layout Dialect Example</title>
</head>
<body>
    <h1>KK</h1>
    <div layout:fragment="content" class="container">
        <div class="jumbotron">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut exercitationem ipsum modi necessitatibus officiis provident quis sit, sunt tempore unde?</p>
        </div>
    </div>
</body>
</html>