<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body class="d-flex flex-column">
    <div layout:fragment="content" class="container flex-grow mt-5 pt-3">

        <div class="container">
            <div class="starter-template">
                <h1>Normal page (Requires to be authenticated)</h1>
            </div>
        </div>

    </div>
</body>
</html>
