<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">MRC</title>
    <div th:replace="fragments/header :: header-css"/>

</head>
<body>
    <div th:replace="fragments/header :: header"/>

        <div layout:fragment="content"/>

    <div th:replace="${#authorization.expression('hasRole(''ADMIN'')')} ? ~{fragments/footer :: footer_Admin} : ~{fragments/footer :: footer_Full}" />
    <!--<div th:replace="${#request.isUserInRole('ADMIN')} ? ~{fragments/footer :: footer_Admin} : ~{fragments/footer :: footer_Full}" />-->

</body>
</html>