<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">-->
<!--<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">MRC</title>
    <meta charset="utf-8">

    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

    <div th:replace="fragments/header :: header"/>
    <div>
    <div layout:fragment="content"/>
        <!--<section>-->
            <!--<h1>main_layout H1</h1>-->
        <!--</section>-->
    </div>
    <th:block th:replace="fragments/footer :: footer"/>
    <!--<div th:replace="fragments/footer :: footer"/>-->
</body>
</html>