<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{fragments/main_layout}">
<head>
    <title>Layout Dialect Example</title>
</head>
<body class="d-flex flex-column">
<div layout:fragment="content" class="container flex-grow mt-5 pt-3">
        <div class="card">
            <div class="card card-body">
                <table class="table table-hover">
                    <thead>
                        <th>Role</th>
                        <th style="">Manage</th>
                    </thead>
                    <tbody>
                        <tr th:each="role:${roles}">
                            <td th:text="${role.name}"></td>
                            <!--<td th:text="${user.emailAddress}"></td>-->
                            <!--<td th:each="role:${user.roles}"></td>-->
                                <!--<tr th:if="${role != null}" th:text="${role.name}"></tr>-->
                            <td><a th:href="@{/admin/role/deleteRole(emailAddress=${emailAddress},role=${role.name})}" class="btn btn-danger">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <a th:href="@{/admin/role/addRole(emailAddress=${emailAddress})}" class="btn btn-primary" style="margin-top:6px;">Add Role</a>
    </div>
</body>
</html>